/* styl, id, class, el */
/*  0    1    0      0 */
#parrafo1
{
padding: 15px;
}

/* styl, id, class, el */
/*  0    1    1      0 */
/*  id      clase  */
#parrafo1 .parrafo1
{
padding: 10px;
}


/* styl, id, class, el */
/*  0    0    1      1 */
.section p {
padding: 5px;
}

/* styl, id, class, el */
/*  0    1    1      0 */
.section #parrafo1{
	padding: 40px;
}


/* styl, id, class, el */
/*  0    1    1      0 */
#parrafo1.parrafo {
padding: 10px;
}



/* styl, id, class, el */
/*  0    0     2   0 */
.section .parrafo{
	padding: 30px;
}



.seccion-2 a{
color: red;
}

.seccion-2 a#hipervinculo{
color:blue;
}

#seccion-2.seccion-2 a{
color: yellow;
}